@import "font";

$team0: #ff2359;
$team1: #79a7d0;
$neutral: #B9D531;

html, body{
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1{
  @extend .title-font;
  color: #fff;
  font-size: 3em;
  padding-top: 20px;
  @media all and (max-width: 767px){
    margin-top: 50px;
    padding-top: 70px;
    font-size: 2em;
  }
}

h2{
  @extend .sub-heading-font;
  color: #fff;
  font-size: 1.5em;
}

h3{
  @extend .sub-heading-font;
  color: #fff;
  font-size: 1.2em;
}

header{
  text-align: center;

  .service {
    height: 100px;
  }
}

.profile {
  border-radius: 150px;
  border: 5px solid #fff;
  box-shadow: 0 0 10px #fff;
  box-sizing: border-box;
  background: #fff;
}

.leaderboard {
  font-size: 1.5em;
  font-family: champion;
  font-weight: 600;
  display: inline-block;
  margin-top: 4ex;

  .score {
    color: white;
    float: right;
    margin-left: 1em;
  }
}

.controls {
  display: none;
  margin-top: 4ex;
}

.view-container{
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  &.grid-1 > div{width: calc(100%/1);}
  &.grid-2 > div{width: calc(100%/2); position: static;
  .button-3{
    display: none;
  }
  }
  &.grid-3 > div{
    width: calc(100%/3);
    position: static;
    .button-3{
      display: none;
    }
  }
  .splash,
  .view-team0,
  .view-team1,
  .center,
  .winner{
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
    transition: all .25s ease 0s;
    box-shadow: inset 0 -18px 0 rgba(0,0,0,.2);
    position: absolute;
    &.pressed{
      margin-top: 18px;
      box-shadow: inset 0 0 40px rgba(0,0,0,1);
      height: calc(100% - 18px);
      transition: all 0s ease 0s;
    }
    .home{
      position: fixed;
    }
  }
  span.button{
    padding: 10px;
    @extend .sub-heading-font;
    font-weight: 400;
    display: inline-block;
    color: #fff;
    margin: 15px 0;
    cursor: pointer;
    &.red{background-color: $team0;}
    &.green{background-color: $neutral;}
    &.blue{background-color: $team1;}
    &.secondary{display: none;}
  }
  .white-cover{
    background-color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: all 1s ease 0s;
    box-shadow: 0 0 0 transparent;
    &.show{
      opacity: 1;
    }
  }
}

.score-container{
  text-align: center;
  position: static;
  .score-card{
    padding: 20px;
    color: #fff;
    @extend .title-font;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    margin: 0 20px;
    &.team0{background: $team0;}
    &.team1{background: $team1;}
  }
}

.view-team0{background: $team0}
.view-team1{background: $team1}
.splash{background: $neutral}

.center{
  background:  $neutral;
  text-align: center;
  &.flash{
    background: lighten($neutral, 35%);
  }
}

.home{
  @extend .sub-heading-font;
  color: #fff;
  position: fixed;
  padding: 30px;
  cursor: pointer;
  z-index: 3;
  top: 0;
  left: 10px;
  &::before {
    content: "\25C0";
    color: #fff;
    position: absolute;
    top: 31px;
    left: 11px;
    font-size: 15px;
  }
}



.homeload{
  height: 0%;
  width: 100% !important;
  transition: all 1s ease 0s;
  background: rgba(255, 255, 255, .7);
  position: fixed !important;
  bottom: 0;
  z-index: 2;
  &.load{
    height: 100%;
  }
}

.winner{
  background-color: $neutral;
  .profile{
    margin-top: 100px;
  }
}
